{% include 'base.html' %}
<html>
    <head>

	{% load static %}
	<script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery-3.3.1.js' %}">
	</script>
	<script type="text/javascript" src="{% static '\jqueryui\jquery-ui.js' %}"></script>

	<!-- Make sure that the jQuery name is correct. With updates and different versions,
	the number after 'jquery' will change  -->

 <!-- Include the jquery Ui here -->


 <script>
  $(function() {
    //$( "#id_myDate" ).datepicker();
    $( ".datepicker" ).datepicker();
  });
$.datepicker.setDefaults({
  showOn: "both",
  buttonImageOnly: true,
  buttonImage: "/static/img/calendar.png",
  buttonText: "Pick Date"
});
  </script>

    <title>Online Leave Application</title>
	<link rel="stylesheet" type="text/css" href="{% static '\jqueryui\jquery-ui.css' %}" />

  <link rel="stylesheet" type="text/css" href="/static/customcss/cbase1.css" />
  <link rel="stylesheet" type="text/css" href="/static/customcss/cbase.css" />
  <link rel="stylesheet" type="text/css" href="/static/customcss/cchangelists.css" />
    </head>
    <body>


    <h1>Online Leave Application</h1>

     <p><strong>Welcome {{ myUser.first_name }} : Online Leave Application</strong>
<hr>
<table border=0>
<tr>
<td width=210px valign=top>

<a href='/'>Home Page</a><br><br>

<a href='/lvScheduleShow/'>Leave Schedules</a><br><br>
<a href='/lvApplied/'>Leave Applications</a><br><br>
<a href='/uzers/logout/'>Logout</a> [ {{ user }} ]

</td>
<td valign=top>

	    {% block content %}

            {% endblock %}
