{% include 'base.html' %}
<html>
    <head>
      <title>Online Leave Application</title>
      <link rel="stylesheet" type="text/css" href="/static/customcss/cbase1.css" />
      <link rel="stylesheet" type="text/css" href="/static/customcss/cbase.css" />
      <link rel="stylesheet" type="text/css" href="/static/customcss/cchangelists.css" />

    </head>
    <body>
    <h1>Online Leave Application</h1>

<hr>
<table border=0>
<tr>
<td width=210px valign=top>

<a href='/'>Home Page</a><br><br>
<a href='/lvScheduleShow/'>Leave Schedules</a><br><br>
<a href='/lvApplied/'>Leave Applications</a><br><br>
<a href='/uzers/logout/'>Logout</a> [ {{ user }} ]


</td>
<td valign=top>

	    {% block content %}

            {% endblock %}
